input[type=text], input[type=password] {
	width: 100%;
    border-radius: 6px;
    height: 30px;
    box-sizing: border-box;
    /* border: 1px solid black; */
    background-color: white;
    margin-left: 12px;
    border-bottom:0;
    /* text-decoration: none; */
}

.form-group {
    padding-left: 0;
}

input[type=text]:focus {
	border-bottom: 0;
}

#login-box {
	background-color: #e2e2e2;
    border-radius: 5px;
    margin-top: 100px;
    margin-bottom: 100px;
}

h1 {
	text-align: center;
}