<!-- <div class="row justify-content-center">

  <div id="login-box" class="col-lg-3 col-md-5 col-sm-6 col-xs-10">
  	<h1 class="justify-content-center">ADMIN LOGIN</h1>
    <form (ngSubmit) = "login()" class="justify-content-center">
    	<div class="form-group justify-content-center">
      	<input type="text" id="username" name="username" placeholder="Email" [(ngModel)]="this.username">
      </div>
      <div class="form-group justify-content-center">
      	<input type="password" id="password" name="password" placeholder="Password" [(ngModel)]="this.password">
      </div>
      <div class="form-group justify-content-center">
      	<button class="btn btn-success" type="submit">Login</button>
      </div>
    </form>
  </div>
</div>
 -->