@import "~bootstrap/dist/css/bootstrap.css";
@import "~datatables.net-bs4/css/dataTables.bootstrap4.css";

/* You can add global styles to this file, and also import other style files */
html * {
  font-family: 'Roboto', sans-serif !important;
}

/*body {
  overflow-x: hidden;
}*/

.nav-text {
    color: black !important;
}
.nav-text:hover {
    color:#20c684 !important;
}


/*Square Checkout Form*/
.sq-input {
    box-sizing: border-box;
    border: 1px solid black;
    margin-top: 0;
    box-shadow:inset 0 0 .5px .5px #888;
    /*border-radius: 10px;*/
}

/* Define how SqPaymentForm iframes should look when they have focus */
.sq-input--focus {
  outline: 5px auto rgb(59, 153, 252);
}

/* Define how SqPaymentForm iframes should look when they contain invalid values */
.sq-input--error {
  outline: 5px auto rgb(255, 97, 97);
}

/* Customize the "Pay with Credit Card" button */
.button-credit-card {
  min-width: 200px;
  min-height: 20px;
  padding: 0;
  margin: 5px;
  line-height: 20px;
  box-shadow: 2px 2px 1px rgb(200, 200, 200);
  background: rgb(255, 255, 255);
  border-radius: 5px;
  border: 1px solid rgb(200, 200, 200);
  font-weight: bold;
  cursor:pointer;
}


/* Customize the "{{Wallet}} not enabled" message */
.wallet-not-enabled {
  min-width: 200px;
  min-height: 40px;
  max-height: 64px;
  padding: 0;
  margin: 10px;
  line-height: 40px;
  background: #eee;
  border-radius: 5px;
  font-weight: lighter;
  font-style: italic;
  font-family: inherit;
  display: block;
}

#sq-ccbox {
  background: red;
}



.checkoutButton {
    /*border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20%;
    padding-right: 20%;
    border: none;
    color: black;
    background-color: #6FCF97;
    cursor: pointer;*/
/*    margin-top:0rem;
    background-color:#6FCF97;
    cursor: pointer;
    padding: 6px 32px;
    font-size: 18px;
    border-radius: 30px;
    border:1px solid #ffffff;*/
    color: #6dca96;
    margin-top:0rem;
    border-radius: 25px;
    text-transform: none;
    background-color: transparent;
    border: 2px solid #6dca96;
    cursor: pointer;
    padding: 6px 32px;
    font-size: 18px;

}

button:focus {
  outline: 0 !important;

}

.dt-buttons {
    float: right;
    padding-left: 10px;
}