<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<style>
	
	#orderInfo {
    /* background-color: red; */
    width: 100%;
    /* padding-left: 30px; */
    /* padding-right: 30px; */
    border-color: black;
    border-style: solid;
    border-width: 1px;
    /* margin-left: 5%; */
    margin: 5%;
    padding-bottom: 10%;
}

.noMarginTop{
    margin-top: 0;
}

.marginTop5 {
    margin-top:5%;
}

.fontSize105 {
    font-size: 105%;
    font-weight: 500;
    color: black;
}

.marginTop10 {
    margin-top: 10%;
}

#topTitle {
    font-size: 18px;
}


</style>

</head>
<body>
	<div class="row">
		<div class="col-md-6 offset-md-3 no-gutters">
			<p id="topTitle" class="text-center">Thanks for stopping by!</p>
			<p id="topTitle" class="text-center noMarginTop">You will receive an email confirmation shortly to: <span style="font-weight: 500">{{data['email']}}</span></p>
			<div class="row">
				  <div id="orderInfo" class="card-block">
				  	<h3 style="text-align: center;">ORDER NO. {{data['orderNumber']}}</h3>
				  	<h4 style="text-align: center; margin-top: 8%; font-weight: 500">YOUR ORDER</h4>
				  	<div style="margin-bottom: 10%">
				  		{% for item in data['cart_items'] %}
							<li>
								<div class="row" style="margin-left: 25%;margin-top: 5%;">
									<div style="background-color: gray;width: 75px;height: 75px; ">
									</div>
									<div style="margin-left: 15%">
										<p class="noMarginTop">{{item.name}}</p>
										<p class="noMarginTop">${{item.price}}</p>
										<p class="noMarginTop">Qty:{{item.quantity}}</p>
									</div>
								</div>
							</li>
						{% endfor %}
				  	</div>
				  	<h4 style="text-align: center; font-weight: 500">ORDER SUMMARY</h4>
				  	<div class="row">
					  	<div class="col-sm-6">
					  		<div style="margin-left: 20%">
						  		<p class="fontSize105">Shipping Address</p>
						  		
						  		<p class="noMarginTop">{{data['shippingAddress']['city']}}, {{data['shippingAddress']['state']}} {{data['shippingAddress']['postal_code']}}</p>
					  			<p class="fontSize105">Payment Method</p>
						  		<p class="marginTop5">{{data['orderTransaction']['tenders'][0]['card_details']['card']['card_brand']}} {{data['orderTransaction']['tenders'][0]['card_details']['card']['last_4']}}</p>
						  	</div>
					  	</div>
					  	<div class="col-sm-6" >
					  		<div style="margin-right: 20%">
					  			<p class="fontSize105">Order Details</p>
					  			<div class="row">
						  			<div class="col-xs-6">
							  		<p class="marginTop10">Subtotal:</p>
							  		<p class="noMarginTop">Shipping:</p>
							  		<p class="noMarginTop">Tax:</p>
							  		<br>
							  		<p class="fontSize105 noMarginTop">Total:</p>
						  			</div>
						  			<div class="col-xs-6">
							  		<p class="marginTop10 text-right">${{data['subtotal']}}</p>
							  		<p class="noMarginTop text-right">${{data['shipping']}}</p>
							  		<p class="noMarginTop text-right">${{data['tax']}}</p>
							  		<br>
							  		<p class="fontSize105 noMarginTop text-right">${{data['total']}}</p>
						  			</div>
						  		</div>
						  	</div>
					  	</div>
					  </div>

<!-- 				  	<div class="row" style="background-color: blue">
				  		le
				  	</div>
				  	<div class="row" style="background-color: green">
				  		ee
				  	</div>
 -->
				  </div>
			</div>

			<div>
				<h4 style="text-align: center; font-weight: 500">GOT ANY QUESTIONS?</h4>
				<p class="text-center">Email us at <a href="mailto:info@cocolevio.com" target="_top">info@cocolevio.com</a></p>
				<p class="text-center noMarginTop"> or call at <a href="tel:+5122225730">512-222-5730</a></p>
			</div>

			<div>
				<p class="text-center"><a href="/catalog-ui">continue shopping</a> or <a href="https://www.facebook.com/cocolevio123">check out what we're up to</a> </p>
			</div>
		</div>
	</div>
</body>
