<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sample Payment Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- link to the SqPaymentForm library -->
    <script type="text/javascript" src="https://js.squareup.com/v2/paymentform"></script>

    <!-- link to the local SqPaymentForm initialization -->
<!--     <script type="text/javascript" src="/sqpaymentform.js"></script> -->
    <script src="{{url_for('static', filename='sqpaymentform.js')}}"></script>


    <!-- link to the custom styles for SqPaymentForm -->
    <link rel="stylesheet" href="{{url_for('static', filename='sqpaymentform.css')}}">
  </head>

  <body>
    <div id="sq-ccbox">
      <!--
        You should replace the action attribute of the form with the path of
        the URL you want to POST the nonce to (for example, "/process-card")
      -->
      <form id="nonce-form" novalidate action="/tipsy/customer/createCard/79537177" method="post">
        <div class="" id="billing">
          Address: <input type="text" name="address1" id="address1" size="35" required><br>
          Address 2: <input type="text" name="address2" id="address2"  size="35"><br>
          Address 3: <input type="text" name="address3" id="address3"  size="35"><br>
          City: <input type="text" name="city" id="city"  size="35" required><br>
          State: <input type="text" name="state" id="state" size="35" required><br>
          Postal Code: <input type="text" name="postal_code" id="postal_code" size="35" required><br>
          Country: <input type="text" name="country" id="country"  size="35" required><br>
        </div>

        Pay with a Credit Card
        
        <table>
        <tbody>
          <tr>
            <td>Card Number:</td>
            <td><div id="sq-card-number"></div></td>
          </tr>
          <tr>
            <td>CVV:</td>
            <td><div id="sq-cvv"></div></td>
          </tr>
          <tr>
            <td>Expiration Date: </td>
            <td><div id="sq-expiration-date"></div></td>
          </tr>
          <tr>
            <td>Postal Code:</td>
            <td><div id="sq-postal-code"></div></td>
          </tr>
          <tr>
            <td colspan="2">
              <input type="submit" id="sq-creditcard" class="button-credit-card" onclick="requestCardNonce(event)">
                Pay with card
              </input>
            </td>
          </tr>
        </tbody>
        </table>

        <!--
          After a nonce is generated it will be assigned to this hidden input field.
        -->
        <input type="hidden" id="sq-id" name="sq-id">
        <input type="hidden" id="card-nonce" name="nonce">


      </form>
    </div>

    <div id="sq-walletbox">
      Pay with a Digital Wallet

      <div id="sq-apple-pay-label" class="wallet-not-enabled">Apple Pay for Web not enabled</div>
      <!-- Placholder for Apple Pay for Web button -->
      <button id="sq-apple-pay" class="button-apple-pay"></button>

      <div id="sq-masterpass-label" class="wallet-not-enabled">Masterpass not enabled</div>
      <!-- Placholder for Masterpass button -->
      <button id="sq-masterpass" class="button-masterpass"></button>
    </div>
  </body>
</html>