<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Order Confirmation Email</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
  <style>
  	html * {
		  font-family: 'Roboto', sans-serif !important;
		}

		.imageSize {
			width: 40%;
    	float: right;
		}

		#itemInfo {
			font-size: 14px;
			color: #565656;
			line-height: 1.5rem;
			padding-left: 10px;
		}
		#thankYou {
			line-height: 25px;
	   	padding-bottom: 25px;
	    font-size: 18px;
	    color: #565656; 
		}
		#amount {
			padding-left: 20px;
			padding-right: 80px;
		}

		.titleSummary {
			font-size: 105%;
	    font-weight: 500;
	    color: black;
		}

		#questions {
			font-weight: 500;
			line-height:4rem;
		}

		#lastLine {
			line-height: 3rem;
		}

		#lastLine,#contact {
			font-size: 15px;
		}
		a {
			text-decoration: none;
		}
		 #middleTable {
    	border: 1px solid;
    	padding: 20px 0 20px 0;
		}
		#titles {
			font-weight: 500;
			font-size: 20px; 
			line-height: 5rem;
		}
  </style>
</head>


<body style="margin: 0; padding: 20px;">
	<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
	 <tr>
	  <td id="thankYou" align="center">
	   Thanks for stopping by! <br> Your order is being processed and it will be shipped soon!
	  </td>
	 </tr>
	 <tr>
	  <td id="middleTable">
	  <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
	  	<tr>
	  		<td align="center" style="font-weight: 200;font-size: 22px; line-height: 2rem;">
	  			ORDER NO. {{data['orderNumber']}}
	  		</td>
	  	</tr>
	  	<tr>
	  		<td align="center" id="titles">
	  			YOUR ORDER
	  		</td>
	  	</tr>
	  	{% for item in data['cart_items'] %}
		  	<tr>
		  		<td>
		  			<table border="0" cellpadding="0" cellspacing="0" width="100%">
						 <tr>
						  <td width="50%" valign="top" style="padding-right: 20px;">
						   <img class="imageSize" src="{{item.imageURL}}">
						  </td>
						  <td width="50%" valign="top">
						   <table border="0" cellpadding="0" cellspacing="0" width="100%">
								 <tr>
								  <td id="itemInfo">
								  	{{item.item_name}}
								  </td>
								 </tr>
								 <tr>
								  <td id="itemInfo">
								  	${{item.price}}
								  </td>
								 </tr>
								 <tr>
								  <td id="itemInfo">
								  	Qty: {{item.quantityBought}} {{item.shirt_size}}
								  </td>
								 </tr>
								</table>
						  </td>
						 </tr>
						</table>
		  		</td>
		  	</tr>
	  	{% endfor %}
	  	<tr>
	  		<td align="center" id="titles">
	  			ORDER SUMMARY
	  		</td>
	  	</tr>
	  	<tr>
	  		<td>
  				<table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding-left:20px">
					 <tr>
					  <td width="50%" valign="top" style="padding-right: 20px;">
					   <table border="0" cellpadding="0" cellspacing="0" width="100%">
							 <tr>
							  <td>
							  	<span class="titleSummary">Shipping Address</span> <br><br>
							  	<span>{{data.firstName}} {{data.lastName}}<br>
							  	<span>{{data.shippingAddress.address1}}<br>
							  	{{data.shippingAddress.city}}, {{data.shippingAddress.state}} {{data.shippingAddress.postal_code}}<br><br>
							  	</span>
							  </td>
							 </tr>
							 <tr>
							  <td>
							  	<span class="titleSummary">Payment Method</span> <br><br>
							  	<span>{{data['orderTransaction']['tenders'][0]['card_details']['card']['card_brand']}} {{data['orderTransaction']['tenders'][0]['card_details']['card']['last_4']}}<br>
							  </td>
							 </tr>
							</table>
					  </td>
					  <td width="50%" valign="top">
					   <table id="amount" border="0" cellpadding="0" cellspacing="0" width="100%">
							 <tr>
							  <td>
							  	<span class="titleSummary">Order Details</span> <br><br>
							  	<span style="float: left;">Subtotal:</span> <span style="float:right;">${{data.amountInfo.subtotal}}</span><br>
							  	<span style="float: left;">Shipping:</span> <span style="float:right;">${{data.amountInfo.shipping}}</span><br>
							  	<span style="float: left;">Tax:</span> <span style="float:right;">${{data.amountInfo.tax}}</span><br><br>
							  	<span style="float: left;font-weight: 500">Total:</span> <span style="float:right;">${{data.amountInfo.total}}</span><br><br>
							  </td>
							 </tr>
							</table>
					  </td>
					 </tr>
					</table>
	  		</td>
	  	</tr>
	  </table>
	  </td>
	 </tr>
	 <tr id="questions">
	  <td align="center">
	   HAVE ANY QUESTIONS?
	  </td>
	 </tr>
	 <tr id="contact">
	  <td align="center">
	   Email us at <a href="mailto:info@cocolevio.com" target="_top">info@cocolevio.com</a> <br> or call us at <a href="tel:+5122225730">512-222-5730</a>
	  </td>
	 </tr>
	 <tr id="lastLine">
	  <td align="center">
	   <a href="/catalog">continue shopping</a> or  <a href="https://www.facebook.com/cocolevio123">check out what we are up to</a>
	  </td>
	 </tr>
	</table>
</body>

</html>