
#orderInfo {
    /* background-color: red; */
    width: 100%;
    /* padding-left: 30px; */
    /* padding-right: 30px; */
    border-color: black;
    border-style: solid;
    border-width: 1px;
    /* margin-left: 5%; */
    margin: 5%;
    padding-bottom: 10%;
}

.noMarginTop{
    margin-top: 0;
}

.marginTop5 {
    margin-top:5%;
}

.fontSize105 {
    font-size: 105%;
    font-weight: 500;
    color: black;
}

.marginTop10 {
    margin-top: 10%;
}

#topTitle {
    font-size: 18px;
}

.table th {
    background-color: white;
    border-bottom: 2px solid black;
    font-size: 15px;
    font-weight: 500;
}

.table tr {
    height: 45px;
}

.table td {
    vertical-align: middle;
    font-size: 13px;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #00000082; /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    margin-top: 10%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
     position: absolute;
     top: -1%;
     right:1%;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-backdrop {
   background-color: red;
}

#typeInfo {
    margin-bottom: 0; 
}
.form-group {
    margin-bottom: 5%;
}


td span {
    visibility: hidden;
}

td:hover span {
    visibility: visible;
    color:red;
}
.addItem{
    margin-bottom: 2%;
    float: right;
    box-sizing: border-box;
    border: .5px solid black;
    margin-top: 0;
    border-radius: 10px;
    font-size: 12px;
}

.catalogTable {
   /* width: 70%;
    margin-left: 15%;
    margin-top: 5%;*/
    padding: 3%;
    padding-bottom: 3.5%;
}


/*.catalogTable:after, .catalogTable:before {
    right: 98.2%;
    top: 105px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
*/
/*.catalogTable:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #ffffff;
    border-width: 26px;
    margin-top: -26px;
}
.catalogTable:before {
    border-color: rgba(204, 204, 204, 0);
    border-right-color: #ccc;
    border-width: 27px;
    margin-top: -27px;
}*/


@media(max-width:768px) {
    #addItemButton {
        margin-right: 5%;
    }
}
