input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid black;
    margin-top: 0;
    box-shadow:inset 0 0 .5px .5px #888;
    border-radius: 10px;
    
}


#loneWolf, #typeInfo {
	margin-bottom: 0;
}

.sq-input {
    box-sizing: border-box;
    border: 1px solid black;
    margin-top: 0;
    box-shadow:inset 0 0 .5px .5px #888;
    border-radius: 10px;
}


/*#cartH1 {
    margin-top: 24px;
    margin-right: 24px;
    margin-left: 24px;
    margin-bottom: 5px;
}*/

p {
    font-weight: 300;
}
h3{
    font-weight: 350;
}

#bottomRowPrice {
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.noPaddingLeft {
    padding-left: 0;
}

#amountSize {
    font-size:14px;
}

.topright {
    position: absolute;
    top: -1.4%;
    right: 2%;
}

#cart{
    width: 11%;
}